server:
  port: 0

spring:
  application:
    name: user-service
  h2:
    console:
      enabled: true                   # H2 웹 콘솔을 사용하겠다는 의미
      path: /h2-console               # 콘솔의 경로
      settings:
        web-allow-others: true

  datasource:
    driver-class-name: org.h2.Driver  # h2 드라이버 설정
    url: jdbc:h2:mem:testdb           # 접속 URL

eureka:
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance-id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
